/samples
*.ncb
*.suo
/Debug
/Release
/CoreAVCWrapper/Debug
/CoreAVCWrapper/Release
/baseclasses/Debug
/baseclasses/Release
/baseclasses/x64
/merge/Debug
/merge/Release
/bin/_releases
/ssifSource.aps
/baseclasses/JM/jm18.6/ldecod/Debug_x64_vc9
/baseclasses/JM/jm18.6/ldecod/Release_Win32_vc9
/baseclasses/JM/jm18.6/ldecod/Release_x64_vc9
/baseclasses/JM/jm18.6/bin/test_dec_ViewId0000.yuv.ref
/baseclasses/JM/jm18.6/bin/test_dec_ViewId0001.yuv.ref
/baseclasses/JM/jm18.6/bin/test.264
/filmtester/Debug
/filmtester/Release
/baseclasses/JM/jm18.6/bin/test_dec_ViewId0000.yuv
/baseclasses/JM/jm18.6/bin/test_dec_ViewId0001.yuv
/baseclasses/JM/jm18.6/bin/vcomp90.dll
/baseclasses/JM/jm18.6/bin/vcomp90d.dll
/filmtester/filmtester.vcproj.VYACHESLAV-PC.Vyacheslav.user
/components/CoreAVCWrapper/Debug
/components/CoreAVCWrapper/Release
/components/baseclasses/Debug
/components/baseclasses/Release
/components/filmtester/Debug
/components/filmtester/Release
/components/mpls_tool/Debug
/components/mpls_tool/Release
/thirdparty/jm18.6/ldecod/Release_x64_vc9
/thirdparty/jm18.6/ldecod/Release_Win32_vc9
/thirdparty/jm18.6/ldecod/Debug_x64_vc9
/thirdparty/libdvdnav-4.1.2/dvdfopen/Debug
/thirdparty/libdvdnav-4.1.2/dvdfopen/Release
/thirdparty/libdvdnav-4.1.2/examples/Debug
/thirdparty/libdvdnav-4.1.2/examples/Release
/thirdparty/libdvdnav-4.1.2/msvc/Debug
/thirdparty/libdvdnav-4.1.2/msvc/Release
/thirdparty/libdvdnav-4.1.2/msvc/install
/thirdparty/libdvdnav-4.1.2/msvc/libwin32utils.lib
/thirdparty/libdvdnav-4.1.2/msvc/libdvdnav.vcproj.VYACHESLAV-PC.Vyacheslav.user
/thirdparty/libdvdnav-4.1.2/msvc/libwin32utils.vcproj.VYACHESLAV-PC.Vyacheslav.user
/components/CoreAVCWrapper/CoreAVCWrapper.vcproj.VYACHESLAV-PC.Vyacheslav.user
/components/baseclasses/baseclasses.vcproj.VYACHESLAV-PC.Vyacheslav.user
/components/filmtester/filmtester.vcproj.VYACHESLAV-PC.Vyacheslav.user
/components/mpls_tool/mpls_tool.vcproj.VYACHESLAV-PC.Vyacheslav.user
/thirdparty/libdvdnav-4.1.2/examples/examples.vcproj.VYACHESLAV-PC.Vyacheslav.user
