[submodule "thirdparty/Lua"]
	path = thirdparty/Lua
	url = https://github.com/slavanap/clone-Lua.git
[submodule "thirdparty/JM"]
	path = thirdparty/JM
	url = https://github.com/slavanap/JM.git
[submodule "thirdparty/libudfread"]
	path = thirdparty/libudfread
	url = git://git.videolan.org/libudfread.git
